{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"> NESCAFE </h4>
          </div>
          <div class="card-body">
            <div class="container-1">
              <h1 class="mt-4">Time Series Prediction</h1>
      
              <form id="predictionForm">
                  <div class="form-group">
                      <label for="model">Select Model:</label>
                      <select class="form-control" id="model" name="model">
                          <option value="TimeSeriesLinearRegression">Time Series Linear Regression</option>
                          <option value="TimeSeriesRandomForest">Time Series Random Forest</option>
                          <option value="TimeSeriesGradientBoosting">Time Series Gradient Boosting</option>
                      </select>
                  </div>
      
                  <div class="form-group">
                      <label for="coconutVariety">Coconut Variety:</label>
                      <input type="text" class="form-control" id="coconutVariety" name="coconutVariety" required>
                  </div>
      
                  <div class="form-group">
                      <label for="harvestSeason">Harvest Season:</label>
                      <input type="text" class="form-control" id="harvestSeason" name="harvestSeason" required>
                  </div>
      
                  <div class="form-group">
                      <label for="quantitySold">Quantity Sold:</label>
                      <input type="number" class="form-control" id="quantitySold" name="quantitySold" required>
                  </div>
      
                  <div class="form-group">
                      <label for="date">Date:</label>
                      <input type="date" class="form-control" id="date" name="date" required>
                  </div>
      
                  <button type="button" class="btn btn-primary" onclick="predict()">Predict</button>
              </form>
      
              <p id="predictions"></p>
          </div>
            
          </div>
        </div>
      </div>
      
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
